* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #006bff;
}
/* MainDate Section (start) */
.mainDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  height: 200px;
  background-color: #000000;
}

.principalDay {
  color: white;
  font-size: 9.5rem;
}

.fullDate {
  color: white;
  font-size: 2.5rem;
}
/* MainDate Section (end) */

/* Calendar Section (start) */
.calendarSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  height: auto;
  background-color: white;
  padding: 30px 10px 30px;
}

.calendarSection h2 {
  font-size: 2.7rem;
  margin-bottom: 10px;
}

.calendarSection__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.calendarSection__header span {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 20px;
  text-transform: uppercase;
}

.calendarSection__header button {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendarSection__nameDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calendarSection__nameDays span {
  justify-self: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}
/* Calendar Section (end) */

/* weekdays Section (start) */
.calendarSection__allDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: white;
  /* padding: 20px 10px 50px; */
  row-gap: 10px;
}

.calendarSection__allDays--number {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
  cursor: pointer;
}

.todayStyle {
  background: #dbe9ff;
  color: #006bff;
  border-radius: 50%;
}

.otherDays {
  opacity: 0.2;
  cursor: not-allowed;
}
/* weekdays Section (end) */
